<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.oneclick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".accessibilityservice.AccessibilityFeatureActivity"></activity>
        <activity android:name=".screenOff.ScreenOffActivity" />
        <activity android:name=".activity.ScreenshotPreviewActivity" /> <!-- android:theme="@android:style/Theme.NoDisplay" -->
        <activity
            android:name=".IllusionActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".screenOff.DeviceAdmin"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />
        </receiver>
        <service
            android:name=".ScreenCaptureService"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".ShakeService"/>


        <!-- 1. Permission to bind to an accessibility service:-->
        <!-- 2. The AccessibilityService intent:-->
        <!-- 3. Location of the file that contains the metadata for the service you're creating:-->
        <service
            android:name=".TempGlobalAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/custom_global_accessibility_service" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>